/Java/Guia6/build/
/Java/Guia6Ej2/nbproject/private/
/Java/Guia6Ej2/build/
/Java/GPT/nbproject/private/
/Java/JavaApplication6/nbproject/private/
/Java/Guia6Ex/nbproject/private/
/Java/Guia6Ex/build/
/Java/Guia8/nbproject/private/
/Java/Guia81/nbproject/private/
/Java/Guia81/build/